{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Krosmacarte - cartes{% endblock %}

{% block fos_user_content %}

    <h3>Liste des cartes</h3>

    <ul>
        {% for carte in cartes %}

            <li>{{ carte.nom }}</li>

        {% endfor %}
    </ul>

{% endblock %}